"*":
  "atom-package-deps":
    ignored: []
  autosave: {}
  "city-lights-ui": {}
  core:
    closeDeletedFileTabs: true
    telemetryConsent: "limited"
    titleBar: "hidden"
    useTreeSitterParsers: false
  editor:
    fontFamily: "Fira Code"
    softTabs: false
  "exception-reporting":
    userId: "838c39ab-73af-23d0-f6d8-33375cfd400c"
  "file-icons":
    strategies: {}
  linter: {}
  "linter-eslint": {}
  "linter-ui-default":
    hidePanelWhenEmpty: true
    panelHeight: 69
    tooltipFollows: "Mouse"
    useBusySignal: false
  "linter-xo":
    fixOnSave: true
  "nord-atom-ui":
    darkerFormFocusEffect: true
  "one-dark-ui":
    hideDockButtons: true
  "one-light-ui":
    hideDockButtons: true
  "prettier-atom":
    formatOnSaveOptions:
      enabled: true
    useEslint: true
  "tone-syntax":
    color:
      bg: "#e7e7ee"
      duo: "#3d78a7"
      tri: "#f3a5bb"
      uno: "#b8dfe4"
  "tree-view":
    hideVcsIgnoredFiles: true
  welcome:
    showOnStartup: false
".babel.regexp.source":
  editor:
    preferredLineLength: 100
".git-commit.text":
  editor:
    preferredLineLength: 100
".git-config.source":
  editor:
    preferredLineLength: 100
".git-rebase.text":
  editor:
    preferredLineLength: 100
".js.jsx.source":
  editor:
    preferredLineLength: 100
    softWrap: false
".languagebabel.ttlextension":
  editor:
    preferredLineLength: 100
